.btn_up {
    width: 60px;
    background: #f73a00;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80%;
    left: 5%;
    padding: 12px;
    border: 2px solid #f73a00;
    animation: up-down 0.8s;
    animation-iteration-count: infinite;
    display: none;
    cursor: pointer;
}

.btn_up h3 {
    font-size: 24px;
    font-weight: bolder;
    color: white;
}



@keyframes up-down {
    0% { 
        top: 79%; 
        box-shadow: 0 0 4px black;
    }
    25% { 
        top: 80%; 
        box-shadow: 0 2px 4px black;
    }
    50% { 
        top: 81%; 
        box-shadow: 0 4px 4px black;
    }
    75% { 
        top: 80%; 
        box-shadow: 0 2px 4px black;
    }
    100% { 
        top: 79%; 
        box-shadow: 0 0 4px black;
    }
}